[submodule "sysmon-fetcher"]
	path = sysmon-fetcher
	url = https://github.com/RPi-WebTools/sysmon-fetcher.git
[submodule "DBmngr"]
	path = DBmngr
	url = https://github.com/RPi-WebTools/DBmngr.git
[submodule "TVspotter"]
	path = TVspotter
	url = https://github.com/RPi-WebTools/TVspotter.git
